<div class="animation-tab-contents">
    <div class="form-group">
        <label>{{localize "AUTOANIM.menuKillAnim"}}</label>
        <input type="checkbox" name="flags.autoanimations.killAnim" {{checked killAnim}}>
    </div>
    <div class="animation-not-disabled">
        <div class="form-group">
            <lable>{{localize "AUTOANIM.menuOverride"}}</lable>
            <input type="checkbox" name="flags.autoanimations.override" {{checked override}}>
        </div>
        <div class="animation-type">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuAnimType"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.animType" class="animation-types">
                        {{#select animType}}
                        {{#each animTypePick as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animation-name">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuAnimName"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.animName" class="animation-names">
                        {{#select animName}}
                        {{#each animNameHolder as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animation-color">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuAnimColor"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.color" class="animation-colors">
                        {{#select color}}
                        {{#each meleeColor as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animation-ranged-color">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuNoRangeColor"}}</label>
            </div>
        </div>
        <div class="dagger-variant">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuThrownVariant"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.dtvar" class="dagger-variants">
                        {{#select dtvar}}
                        {{#each daggerVar as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animate-explosion">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuEnableExplode"}}</label>
                <input type="checkbox" name="flags.autoanimations.explosion" {{checked explosion}}>
            </div>
        </div>
        <div class="animate-explosion-options">
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuExplodeVariant"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeVariant" class="explosion-colors">
                        {{#select explodeVariant}}
                        {{#each exVariants as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuExplodeColor"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeColor" class="explosion-colors">
                        {{#select explodeColor}}
                        {{#each exColors as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuExplodeRadius"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeRadius" class="explosion-radii">
                        {{#select explodeRadius}}
                        {{#each exRadii as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "AUTOANIM.menuExplodeLoops"}}</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeLoop" class="explosion-loops">
                        {{#select explodeLoop}}
                        {{#each exLoops as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
