<div class="animation-tab-contents">
    <div class="form-group">
        <label>Check this box to disable Animations</label>
        <input type="checkbox" name="flags.autoanimations.killAnim" {{checked killAnim}}>
    </div>
    <div class="animation-not-disabled">
        <div class="form-group">
            <lable>Override Animation?</lable>
            <input type="checkbox" name="flags.autoanimations.override" {{checked override}}>
        </div>
        <div class="animation-type">
            <div class="form-group">
                <label>Choose an Animation Type</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.animType" class="animation-types">
                        {{#select animType}}
                        {{#each animTypePick as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animation-name">
            <div class="form-group">
                <label>Choose an Animation</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.animName" class="animation-names">
                        {{#select animName}}
                        {{#each animNameHolder as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animation-color">
            <div class="form-group">
                <label>Choose a Color</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.color" class="animation-colors">
                        {{#select color}}
                        {{#each meleeColor as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animation-ranged-color">
            <div class="form-group">
                <label>Color ONLY applies to the Melee Attack, NOT the Ranged Attack</label>
            </div>
        </div>
        <div class="dagger-variant">
            <div class="form-group">
                <label>Choose a Thrown Variant</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.dtvar" class="dagger-variants">
                        {{#select dtvar}}
                        {{#each daggerVar as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="animate-explosion">
            <div class="form-group">
                <label>Enable Explosion?</label>
                <input type="checkbox" name="flags.autoanimations.explosion" {{checked explosion}}>
            </div>
        </div>
        <div class="animate-explosion-options">
            <div class="form-group">
                <label>Choose Explosion Variant</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeVariant" class="explosion-colors">
                        {{#select explodeVariant}}
                        {{#each exVariants as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Choose Explosion Color</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeColor" class="explosion-colors">
                        {{#select explodeColor}}
                        {{#each exColors as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Choose Explosion Radius</label>
                <div class="form-fields">
                    <select name="flags.autoanimations.explodeRadius" class="explosion-radii">
                        {{#select explodeRadius}}
                        {{#each exRadii as |key name|}}
                        <option value="{{key}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
