
.aa-video-preview {
    color: rgba(26, 60, 250, 0.6);
    margin: 0 auto;
}
.aa-video-preview:hover {
    color: rgba(7, 132, 25, 0.6)
}
.aa-button-labels label {
    border-radius: 10px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: bold;
    font-size: large;
    padding: 5px;
    text-align: center;
    width: 100%;
    border: 2px outset #dddddd;
}
.aaCenterToggle {
    margin: 0 auto;
}
.aa-header {
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-gap: 5px;
    padding: 1px;
    align-items: center;
    margin-right: 8%;
    margin-left: 5%;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: large;
    font-weight: bold;
    color: black;
}
.aa-header label {
    align-self: center;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    color: black;
}
.aa-header-section {
    border-bottom: 2px solid rgba(120, 46, 34, 1);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.aa-red {
    color: red;
    transition: "color" 0.5s;
}
.aa-green {
    color: green;
    transition: "color" 0.5s;
}
.aaMenu-section {
    background: rgba(199, 199, 199, 0.85);
    border: 2px solid black;
    border-radius: 10px;
    margin: 1.5% 3% 1.5% 3%;
}
#AA-item-settings .window-header{
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
    border-bottom: 1px solid var(--color-border-dark);
    background:none;
    background-image: none;
    border-radius: 5px;
    color:white
}
#AA-item-settings .window-content {
    border-radius: 5px;
}
.aa-info-blue {
    color: rgba(30, 14, 252, 0.75)
}