
.aa-audio-checkbox {
     border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

.aa-explosion-options {
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

