
.aa-audio-checkbox {
    padding: 3px;
    margin-bottom: 5px;
    border: 3px ridge #a1a1a1;
    border-radius: 7px;
}

.aa-ridged {
    border: 3px ridge #a1a1a1;
    padding: 3px;
    margin-bottom: 5px;
}

.aa-video-previews {
    border: 3px inset #a1a1a1;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 5px;
    width: 345px;
    height: 345px;
    display: block;
    margin: 0 auto;
    background: #363636
}

.aa-video {
    padding:5px;
}

#AA-item-settings .tabs .active {
    text-shadow: 0 0 10px red;
}

.aa-column {
    padding: 10px;
    text-align: center;
}

.aa-options {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    border: 3px ridge #a1a1a1;
    border-radius: 6px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.socketlibWarn {
    font-weight: bold;
    text-align:center;
    font-size: large;
}

.aa-hint-text {
    font-size: 10px;
    color: grey
}

.auto-recognized {
    font-size: 15px;
    text-align: center;
    border: 2px ridge #a1a1a1;
    border-radius: 6px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    animation: backFade 5s infinite;
}
@keyframes backFade {
    50% {background-color: rgba(158, 158, 158, 0.5)}
}

.AA-flow-chart-Source {
    text-align: center;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    font-weight: bold;
}

.AA-flow-chart-Primary {
    text-align: center;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    font-weight: bold;
    background-color: rgb(129, 248, 138);
}

.AA-flow-chart-Target {
    text-align: center;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    font-weight: bold;
}

.aa-flow-arrow {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-override-wrapper {
	flex: 0;
	margin-left: 0.5em;
}
  
.aa-border-autorecog {
    border: 3px ridge rgb(97, 97, 97);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

#automatic-recognition input.auto-name{
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(187, 187, 173);
}

.auto-name:placeholder-shown{
    opacity: 0.50;
}

.auto-search:placeholder-shown{
    opacity: 0.50;
}

.aaToolTip {
    position:relative;
    display: inline-block;
}

.aaToolTip .aaToggle01 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top:100%;
    left:50%;
    margin-left: -60%;
    z-index: 1;
}

.aaToolTip .aaToggle02 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top:100%;
    right:5%;
    z-index: 1;
}

.aaToolTip:hover .aaToggle01 {
    visibility: visible;
}

.aaToolTip:hover .aaToggle02 {
    visibility: visible;
}

#automatic-recognition input.auto-search{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

#automatic-recognition label{
    font-weight: bold;
}

#AA-item-settings label {
    font-weight: bold;
}

#automatic-recognition .button-2d:hover {
    text-shadow: 0 0 5px red
}

#automatic-recognition select{
    min-width: 5em
}

#AA-item-settings ::placeholder {
    color: rgb(61, 61, 61);
    opacity: .6;
}

#automatic-recognition ::placeholder {
    color: rgb(61, 61, 61);
    opacity: .6;
}

#automatic-recognition .item{
    font-size: 15px;
    text-align:center;
    vertical-align: middle;
}

#automatic-recognition .collapse-button:hover {
    text-shadow: 0 0 5px red
}

#automatic-recognition .remove-autorecog:hover {
    text-shadow: 0 0 5px red
}

#automatic-recognition .duplicate-melee:hover {
    text-shadow: 0 0 5px red
}
#automatic-recognition .duplicate-range:hover {
    text-shadow: 0 0 5px red
}
#automatic-recognition .duplicate-static:hover {
    text-shadow: 0 0 5px red
}
#automatic-recognition .duplicate-templates:hover {
    text-shadow: 0 0 5px red
}
#automatic-recognition .duplicate-auras:hover {
    text-shadow: 0 0 5px red
}
#automatic-recognition .duplicate-preset:hover {
    text-shadow: 0 0 5px red
}

.autorec-menu-options {
    padding: 5px;
    text-align: center;
}

.autorec-menu-options input {
    width: 3em;
}

.autorec-menu-pad {
    padding: 5px;
}

#aa-import-export {
    padding: 10px;
}

.aa-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)) repeat(auto-fit, minmax(15em, 1fr)) 9em 9em;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    align-items: center;
    justify-items: end; 
}

.aaFGimage {
    background: url("aaMenuFG.jpg") repeat;
}

.aaBGimage {
    background: url("aaMenuBG02.jpg") repeat;
    color: #191813;
}

.aa-primary-border {
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

/*
.aa-primary-container {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 1px;
    align-items: center;
    justify-items: end; 
    padding: 5px;
    color: black;
    text-align: center;
}
*/
.aa-primary-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
    padding: 5px;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.aa-primary-container select {
    text-align: center;
    font-weight: bold;
    min-height: 2em;
}

.aa-primary-container label {
    align-self: center;
}

.aa-switch-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
    padding: 5px;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.aa-switch-container select {
    text-align: center;
    font-weight: bold;
    min-height: 2em;
}

.aa-switch-container label {
    align-self: center;
}

.aa-switch-container input {
    text-align: center;
    align-self: center;
    min-height: 2em;
}

.aa-customAnim-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
    padding: 5px;
    margin-right: 6%;
    margin-left: 5%;
}

.aa-sound-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
    padding: 5px;
    margin-right: 6%;
    margin-left: 5%;
}

.aa-sound-container input {
    text-align: center;
    align-self: center;
    min-height: 2em;
}

.aa-sound-container label {
    align-self: center;
    vertical-align: top;
}

.aa-options-container {
    /*text-align: center;*/
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
    padding: 5px;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.aa-options-container select {
    text-align: center;
    font-weight: bold;
    min-height: 2em;
}

.aa-options-container label {
    align-self: center;
    vertical-align: top;
}

.aa-options-container input {
    text-align: center;
    align-self: center;
    min-height: 2em;
}

.aa-section-label {
    padding-bottom: 1px;
    padding-top: 15px;
    text-align: center;
}

.aa-checkbox-label {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 15px;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.aa-item-container {
    display: grid;
    grid-template-columns: auto auto 9em 9em;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 1px;
    align-items: center;
    justify-items: end; 
    border: 3px ridge #a1a1a1;
    border-radius: 7px;
    padding: 5px;
    background: url("aaMenuFG.jpg") repeat;
    color: black;
    text-align: center;
}

.aa-explosion-container {
    display: grid;
    grid-template-columns: minmax(5em, 20em) minmax(10em, 30em) 9em 9em;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 1px;
    align-items: center;
    justify-items: end; 
    border: 3px ridge #a1a1a1;
    border-radius: 7px;
    padding: 5px;
    background: url("aaMenuFG.jpg") repeat;
    color: black;
}

.aa-default-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 1px;
    align-items: center;
    border: 3px ridge #a1a1a1;
    border-radius: 7px;
    padding: 5px;
    background: url("aaMenuFG.jpg") repeat;
    color: black;
}

.aa-divider {
    flex-grow: 1;
    border-bottom: 2px inset rgb(85, 84, 84);
    margin: 3px
}

.aa-section-divider {
    flex-grow: 1;
    border-bottom: 2px inset rgba(0, 0, 0, 0.75);
    margin: 3px
}

.aa-itemSection-divider {
    flex-grow: 1;
    border: 2px inset rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    margin: 3px;
    background: url("aaMenuFG.jpg") repeat;
}

.aa-subSection-divider {
    flex-grow: 1;
    border-bottom: 2px dashed rgba(116, 116, 116, 0.562);
    background: url("aaMenuFG.jpg") repeat;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3px;
}

.meleespan {
    grid-column: 1 / 3; 
    grid-row: 1 / 2;
}

.pickerspan {
    grid-column: 2 / 5; 
    grid-row: 3 / 4;
}
#AA-item-settings .form-group label{
color: black;
background:none;
border: none;
}

#AA-item-settings .form-group select{
height: 27px;
background: url("aaMenuFG.jpg") repeat;
border: 1px solid #7a7971;
border-radius: 3px;
padding: 0 3px;
text-overflow: ellipsis;
box-shadow: none;
color: black;
text-align: center;
}

#AA-item-settings select option {
    background: rgba(189, 189, 189, 0.4);
}

.aa-item-container select {
text-align:center;
}

#AA-item-settings .form-group input[type="checkbox"] {
width: 20px;
height: 20px;
}

#AA-item-settings .window-content {
    background: url("aaMenuBG02.jpg") repeat;
    color: #191813;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

#automatic-recognition .window-content {
    background: url("aaMenuBG02.jpg") repeat;
    color: #191813;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.primary-animation {
    box-shadow: 0 0 10px darkgreen;
}

.switch-animation {
    box-shadow: 0 0 10px darkgreen;
}

.text-green {
    text-shadow: 1px 1px 2px lightseagreen, 0 0 25px green, 0 0 5px lightgreen;
    text-align: center;
    text-transform: uppercase;
}

.add-explosion {
    box-shadow: 0 0 10px red;
}

.span1920 {
    grid-column: 2 / 5; 
    grid-row: 5 / 6;
}

.aurapickerspan {
    grid-column: 2 / 5; 
    grid-row: 4 / 5;
}

.aurapickerspan input {
    width: 25em
}

.span0708 {
    grid-column: 3 / 5; 
    grid-row: 2 / 3;
}

.span0506 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.span1516 {
    grid-column: 3 / 5; 
    grid-row: 4 / 5;
}

.aura01 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.aura02 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.pickerspan input {
    width: 25em
}

.option01 { 
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
}
  
.option02 { 
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
}
  
.option03 { 
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
}
  
.option04 { 
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
}
  
.option05 { 
    grid-column: 3 / 4; 
    grid-row: 1 / 2;
}
  
.option06 { 
    grid-column: 4 / 5; 
    grid-row: 1 / 2;
}
  
.option07 { 
    grid-column: 3 / 4; 
    grid-row: 2 / 3;
}
  
.option08 { 
    grid-column: 4 / 5; 
    grid-row: 2 / 3;
}
  
.option09 { 
    grid-column: 1 / 2; 
    grid-row: 3 / 4;
}

.option10 { 
    grid-column: 2 / 3; 
    grid-row: 3 / 4;
}

.option11 { 
    grid-column: 3 / 4; 
    grid-row: 3 / 4;
}

.option12 { 
    grid-column: 4 / 5; 
    grid-row: 3 / 4;
}

.option13 { 
    grid-column: 1 / 2; 
    grid-row: 4 / 5;
}

.option14 { 
    grid-column: 2 / 3; 
    grid-row: 4 / 5;
}

.option15 { 
    grid-column: 3 / 4; 
    grid-row: 4 / 5;
}

.option16 { 
    grid-column: 4 / 5; 
    grid-row: 4 / 5;
}

.option17 { 
    grid-column: 1 / 2; 
    grid-row: 5 / 6;
}

.option18 { 
    grid-column: 2 / 3; 
    grid-row: 5 / 6;
}

.option21 { 
    grid-column: 1 / 2; 
    grid-row: 6 / 7;
}

.option22 { 
    grid-column: 2 / 3; 
    grid-row: 6 / 7;
}

#aaFireball {
    animation: aaBurning 5s infinite;
    font-size:large;
    text-transform: uppercase;
}
  
@keyframes aaBurning {
    75% {text-shadow:  1px 1px 15px rgb(255, 0, 0); color:blueviolet;}
}