
.aa-audio-checkbox {
    border: 3px ridge #a1a1a1;
    padding: 3px;
    margin-bottom: 5px;
}

.aa-ridged {
    border: 3px ridge #a1a1a1;
    padding: 3px;
    margin-bottom: 5px;
}

.aa-video-previews {
    border: 3px inset #a1a1a1;
    padding: 5px;
    margin-bottom: 5px;
    width: 345px;
    height: 345px;
    display: block;
    margin: 0 auto;
    background: #363636
}

.aa-column {
    padding: 10px;
    text-align: center;
}

.aa-options {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    border: 3px ridge #a1a1a1;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.socketlibWarn {
    font-weight: bold;
    text-align:center;
}

.aa-hint-text {
    font-size: 10px;
    color: grey
}

.auto-recognized {
    font-size: 15px;
    text-align: center;
    border: 3px ridge #a1a1a1;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(206, 206, 206)
}

.AA-flow-chart-Source {
    text-align: center;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    font-weight: bold;
    background-color: rgb(169, 216, 255);
}

.AA-flow-chart-Primary {
    text-align: center;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    font-weight: bold;
    background-color: rgb(129, 248, 138);
}

.AA-flow-chart-Target {
    text-align: center;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    font-weight: bold;
    background-color: rgb(169, 216, 255);
}

.aa-flow-arrow {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-override-wrapper {
	flex: 0;
	margin-left: 0.5em;
}
  
.aa-melee-autorecog {
    border: 3px ridge rgb(97, 97, 97);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

.aa-range-autorecog {
    border: 3px ridge rgb(97, 97, 97);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

.aa-spell-autorecog {
    border: 3px ridge rgb(97, 97, 97);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}
/*
.aa-melee-autorecog input {
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(187, 187, 173);
}

.aa-spell-autorecog input{
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(187, 187, 173);
}
*/
#automatic-recognition input.auto-name{
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(187, 187, 173);
}

#automatic-recognition input.auto-search{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

#automatic-recognition label{
    font-weight: bold;
}
/*
#automatic-recognition .flexrow.hidden {
    display: none;
}
*/
#automatic-recognition .collapse-button {
    max-width: 1.5rem;
    margin: 0.5rem;
}

#automatic-recognition .collapse-button:hover {
    text-shadow: 0 0 5px red
}

.aa-autorec-submit {
    max-height: 2rem;
}