#AA-autorec-settings-New {
    min-height: 250px;
    min-width: 550px;
    max-width: 1024px;

    .window-content {
        padding: 0;
        overflow: inherit;
        background: rgba(125, 125, 125, 0.75);

        font-size: 1.15em;

        --tjs-icon-button-diameter: 1.75em;
        --tjs-summary-chevron-size: 1.25em;

        // Pretty basic gray scale colors.
        --tjs-icon-button-background: rgba(0, 0, 0, 0.1);
        --tjs-icon-button-background-hover: rgba(0, 0, 0, 0.15);
        --tjs-icon-button-background-selected: rgba(0, 0, 0, 0.2);

        // This is how you style the action ripple background!
        //--tjs-action-ripple-background: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 40%, rgba(89, 97, 223, 1) 60% );
    }

    // Reverse universal selector set for `.window-app .window-content > *`.
    .window-content > * {
        flex: unset;
    }
}
#AA-autorec-settings-New select {
    background-color: rgba(160, 160, 160);
    text-align: center;
    font-weight: normal;
    font-family: "Signika", sans-serif;
    font-size: 14px;
    color: black;
    min-height: 1.5em;
    width: 10em;
    border-radius: 7px;
}

.aa-video-preview {
    color: rgba(26, 60, 250, 0.6);
    margin: 0 auto;
}
.aa-video-preview:hover {
    color: rgba(7, 132, 25, 0.6)
}
.aa-button-labels label {
    border-radius: 10px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: bold;
    font-size: large;
    padding: 0.5em;
    text-align: center;
    width: 100%;
    border: 2px outset rgb(142, 142, 142);
    color:black;
}
.aaCenterToggle {
    margin: 0 auto;
}
.aa-header {
    display: grid;
    grid-template-columns: 10% 10% 56% 10% 10%;
    grid-gap: 1%;
    padding: 1px;
    text-align: center;
    align-items: center;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: large;
    font-weight: bold;
    color: black;
}
.aa-header label {
    align-self: center;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    color: black;
}
.aa-header-section {
    border-bottom: 2px solid rgba(181 70 52);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
}
.aa-preset-header {
    display: grid;
    grid-template-columns: 5% 5% 76% 5% 5%;
    grid-gap: 1%;
    padding: 1px;
    text-align: center;
    align-items: center;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: large;
    font-weight: bold;
    color: black;
}
.aa-red {
    color: red;
    transition: "color" 0.5s;
}
.aa-green {
    color: green;
    transition: "color" 0.5s;
}
.aaMenu-section {
    background: rgba(199, 199, 199);
    border: 2px solid black;
    border-radius: 10px;
    margin: 1.5% 3% 1.5% 3%;
}
#AA-item-settings .window-header{
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
    border-bottom: 1px solid var(--color-border-dark);
    background:none;
    background-image: none;
    border-radius: 5px;
    color:white
}
#AA-item-settings .window-content {
    border-radius: 5px;
}
#AA-item-settings select {
    background-color: rgba(160, 160, 160);
    text-align: center;
    font-weight: normal;
    font-family: "Signika", sans-serif;
    font-size: 14px;
    color: black;
    min-height: 2em;
    border-radius: 7px;
}
#AA-autorec-settings select {
    background-color: rgba(160, 160, 160);
    text-align: center;
    font-weight: normal;
    font-family: "Signika", sans-serif;
    font-size: 14px;
    color: black;
    min-height: 2em;
    border-radius: 7px;
}
#AA-autorec-settings select option{
    background-color: rgba(179, 179, 179, 0.5);
    color: black;
    font-weight: normal;
    font-family: "Signika", sans-serif;
}
#AA-ae-settings select {
    background-color: rgba(160, 160, 160);
    text-align: center;
    font-weight: normal;
    font-family: "Signika", sans-serif;
    font-size: 14px;
    color: black;
    min-height: 2em;
    border-radius: 7px;
}
#AA-autorec-settings .form-group label {
    border: none;
    background: none;
    color: black;
}
#AA-autorec-settings .form-group input {
    border: 1.5px outset rgba(0, 0, 0, 0.5);
    background: none;
    color: black;
    box-shadow: none;
    background-color: rgba(177 176 176);
    font-family: "Signika", sans-serif;
}
.aaMidSection::-webkit-scrollbar {
    width: 6px;
    height: 0;
}
.aaMidSection::-webkit-scrollbar-thumb {
    outline:none;
    border-radius: 3px;
    background-image:none;
    background:rgb(2, 32, 203);
    border:none;
}
.aa-info-blue {
    color: rgba(30, 14, 252, 0.75)
}
#AA-Full-Video-Preview .window-content{
    background: rgba(90, 90, 90, 0.3);
    border-radius: 20px;
}
.aa-options-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid rgba(109, 109, 109, 0.75);
    border-radius: 5px;
    background: rgba(207, 171, 112, 0.09);
    padding:5px;
    margin-bottom: 5px;
}
.aa-3wide {
    display: grid;
    grid-template-columns: 32.67% 32.67% 32.67%;
    grid-gap: 1%;
    align-items: end;
    margin-right: 3%;
    margin-left: 3%;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: bold;
    justify-items:center;
    color: black;
}
.aa-selected {
    background-color: rgba(25, 175, 2, 0.18);
    transition: background-color 0.5s;
}
.aa-notSelected {
    background-color: rgba(219, 132, 2, 0.18);
    transition: background-color 0.5s;
}
.aa-autorec-options {
    display: grid;
    grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
    grid-template-rows: 30px;
    grid-gap: 1%;
    padding: 5px;
    text-align: center;
    align-items: center;
    color: black;
}
.aa-options {
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-gap: 1%;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    font-weight: normal;
    font-size: 15px;
    color: black;
}
.aa-options label {
    align-self: center;
}
.aa-options input {
    text-align: center;
    align-self: center;
    border-radius: 5px;
    width: 3em;
    color: black;
    font-weight: normal;
    background:rgb(191 187 182);
    font-size:14px;
    height:1.5em;
    font-family: "Signika", sans-serif;
}
.aa-options button {
    border-radius: 7px;
    border: 2px outset #8e8e8e;
    font-family: "Signika", sans-serif;
    color: black;
    font-size: 14px;
    line-height: 1.25em;
    width:95%;
}
#AA-autorec-settings .aa-deleteSection {
    font-size: 12.25px;
}
#AA-autorec-settings .aa-expand {
    font-size: 16.25px;
}
#Autorec-Video-Preview .window-content {
    background: rgba(238, 238, 238, 0.65)
}
#Options-Information .window-content {
    background: rgba(238, 238, 238, 0.65)
}
.aa-greyScale {
    color: rgb(102 102 102)
}
.aa-checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.aa-zoom:hover {
    transform: scale(1.2);
}
.aa-info-icon {
    color: rgba(21, 154, 169, 0.75);
}
.aa-info-icon:hover {
    color: rgba(7, 132, 25, 0.6);
}
.aa-section-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid rgba(109, 109, 109, 0.6);
    border-radius: 5px;
    background: rgb(200 200 200);
    margin-bottom: 5px;
}
.aa-primary-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background: rgb(200 200 200);
    margin-bottom: 5px;
}
.aa-cblabel {
    line-height: 1.25em;
    width: 7em;
    align-self: center;
    padding: 0;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    font-family:"Signika", sans-serif;
    border: 2px outset rgb(142, 142, 142);
    color: black;
    background-color: rgba(158, 158, 158, 0.53);
}
.aa-opacity-pos {
    position:relative;
    bottom: -4px;
}
.aa-autorec-headerButton {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30px;
    padding: 5px;
    text-align: center;
    align-items: center;
    color: black;
}
