#AA-autorec-settings, #AA-item-settings, #AA-ae-settings {
    min-height: 250px;
    min-width: 550px;
    max-width: 1024px;

    .window-content {
        color: black;
        padding: 0;
        overflow: inherit;
        background: rgba(125, 125, 125, 0.75);

        font-size: 1.15em;

        --tjs-icon-button-diameter: 1.75em;
        --tjs-summary-chevron-size: 1.25em;

        // Pretty basic gray scale colors.
        --tjs-icon-button-background: rgba(0, 0, 0, 0.1);
        --tjs-icon-button-background-hover: rgba(0, 0, 0, 0.15);
        --tjs-icon-button-background-selected: rgba(0, 0, 0, 0.2);

        // This is how you style the action ripple background!
        //--tjs-action-ripple-background: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 40%, rgba(89, 97, 223, 1) 60% );
    }

    // Reverse universal selector set for `.window-app .window-content > *`.
    .window-content > * {
        flex: unset;
    }

    // Variables for TJSSettingsEdit via TJSSettingsSwap.
    .tjs-settings {
        --tjs-settings-padding: 0.5em 1em;
        --tjs-settings-section-background: rgba(199, 199, 199, 0.85);
        --tjs-settings-section-border: 2px solid rgba(0, 0, 0, 0.75);
        --tjs-settings-section-border-radius: 0.75em;

        --tjs-input-border-radius: 1em;
        --tjs-input-padding: 0 0.5em;
    }

    // Applies to elements under Animation component.
    .animation {
        .aa-Sound-container {
            display: grid;
            grid-template-columns: 6% 90% 4%;
            padding-top: 5px;
            padding-bottom: 5px;
            align-items: center;
            margin-right: 5%;
            margin-left: 3%;
            font-size: small;
            font-weight: normal;
            button {
                background: none;
                border: none;
                font-size: 1.5em;
            }
        }

        table {
            border-collapse: separate;
            border: none;
            background: none;
            font-size: 0.8em;
            text-align: center;
            padding-right: .8em;
            padding-left: .8em;
        }

        table {
            input[type="number"] {
                width: 50%;
                margin-top: 3px;
                margin-left: auto;
                margin-right: auto;
                font-size: 1em;
                height: 1.5em;
                color: black;
            }
            input[type="text"] {
                width: 50%;
                margin-top: 3px;
                margin-left: auto;
                margin-right: auto;
                font-size: 1em;
                height: 1.5em;
                color: black;
            }
            input[type="checkbox"] {
                margin: auto;
                margin-top: 3px;
            }
            label {
                margin-left: auto;
                margin-right: auto;
            }

            td {
                border: 2px solid rgba(48, 48, 48, 0.2);
                border-radius: 5px;
            }

            tr {
                height: fit-content;
            }
        }

        table.d {
            width: 100%;
            table-layout: fixed;
        }
        table.c {
            input[type="checkbox"] {
                /* Add if not using autoprefixer */
                -webkit-appearance: none;
                /* Remove most all native input styles */
                appearance: none;
                /* For iOS < 15 */
                background-color: var(--form-background);
                /* Not removed via appearance */
                margin-right: 5px;

                font: inherit;
                color: currentColor;
                width: 1.5em;
                height: 1.5em;
                border: 0.15em solid grey;
                border-radius: 50%;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
            }
            input[type="checkbox"]::before {
                content: "";
                width: 0.65em;
                height: 0.65em;
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                transform: scale(0);
                transform-origin: bottom left;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--form-control-color);
                /* Windows High Contrast Mode */
                background-color: CanvasText;
            }

            input[type="checkbox"]:checked::before {
                transform: scale(1);
            }


            input[type="checkbox"]:disabled {
                --form-control-color: var(--form-control-disabled);

                color: var(--form-control-disabled);
                cursor: not-allowed;
            }
        }
        .aaSelect {
            table {
                border-collapse: separate;
                border: none;
                background: none;
                font-size: 0.8em;
                text-align: center;
                padding-right: 1em;
                padding-left: 1em;
            }
            table.aaMenu {
                td {
                    border: none;
                    select {
                        align-self: center;
                    }
                    label {
                        font-size: large;
                        font-family: "Modesto Condensed", "Palatino Linotype", serif;
                        font-weight: bold;
                    }
                }
                tr {
                    background: transparent;
                }
            }
        }
        input {
            color: black;
            background: rgba(182, 182, 182, 0.461);
            border: 1px solid rgba(77, 77, 77, 0.5);
        }
        input[type="color"] {
            background: none;
            box-shadow: none;
            border: none;
        }

        select {
            background-color: rgba(160, 160, 160);
            text-align: center;
            font-weight: normal;
            font-family: "Signika", sans-serif;
            font-size: 14px;
            color: black;
            min-height: 1.5em;
            width: 10em;
            border-radius: 7px;
        }
    }
}

#AA-item-settings, #AA-ae-settings{
    --tjs-summary-margin: 0 0 0 1%;

    summary {
        width: 98%;
    }
}

#OptionsInformation {
    min-height: 250px;
    min-width: 500px;
    max-width: 1024px;

    font-family: Arial, Helvetica, sans-serif;

    table {
        border-collapse: collapse;
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #0055369d;
            color: white;
            border: 1px solid rgb(0, 0, 0);
            padding: 8px;
        }
        td {
            border: 1px solid rgb(0, 0, 0);
            padding: 8px;
            //text-align: left;
        }
        tr:nth-child(even) {
            background-color: rgb(240 238 227);
        }
        tr:nth-child(odd) {
            background-color: rgb(203 201 190);
        }
        tr td:first-child {
           width: 18%
        }
    }

    .window-content {
        padding: 0;
        //overflow: inherit;
        background: rgba(125, 125, 125, 0.75);

        font-size: 1.15em;
    }
    .window-content>* {
        flex: unset;
    }
}

.aa-bgRed {
    background-color: rgba(223, 83, 37, 0.25);
    transition: background-color .5s;
}

.aa-bgGreen {
    background-color: rgba(80, 222, 99, 0.35);
    transition: background-color .5s;
}

.aa-bgBlue {
    background-color: rgba(50, 79, 245, 0.35);
}

.aa-primary-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background: rgb(200 200 200);
    margin-bottom: 5px;
}

.aa-section-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid rgba(109, 109, 109, 0.6);
    border-radius: 5px;
    background: rgb(200 200 200);
    margin-bottom: 5px;
}

.aa-sound-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid rgba(109, 109, 109, 0.75);
    border-radius: 5px;
    background: rgba(207, 171, 112, 0.09);
    margin-bottom: 5px;
}

.aa-effect-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid rgba(109, 109, 109, 0.75);
    border-radius: 5px;
    background: rgba(207, 171, 112, 0.09);
    padding: 2px;
    margin-bottom: 5px;
}

.aa-options-border {
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid rgba(109, 109, 109, 0.75);
    border-radius: 5px;
    background: rgba(207, 171, 112, 0.09);
    padding: 2px;
    margin-bottom: 5px;
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;

        font: inherit;
        color: currentColor;
        width: 1.5em;
        height: 1.5em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;
      }
      input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
      }

      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }


      input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);

        color: var(--form-control-disabled);
        cursor: not-allowed;
      }
}

.aa-red {
    color: red;
    transition: color 0.5s;
}

.aa-green {
    color: green;
    transition: color 0.5s;
}

.aa-blue {
    color: rgba(50, 79, 245, 0.5);
}

#Autorec-Video-Preview .window-content {
    background: rgba(238, 238, 238, 0.65)
}

.aa-autorec-headerButton {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    margin-right: 3%;
    margin-left: 3%;
    grid-gap: 2%;
    grid-template-rows: 30px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    color: black;
}

.aa-disableOpacity {
    pointer-events: none;
    opacity: 0.4;
    transition: opacity .5s;
}
